<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Person List</h1>
<a href="addPerson">Add Person</a>
<br/><br/>
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
        <tr th:each="person : ${persons}">
            <td th:utext="${person.getName()}"></td>
            <td th:utext="${person.getEmail()}"></td>
            <td><a th:href="@{/updatePerson/{id}(id=${person.getId()})}">update</a></td>
            <td>
                <form th:action="@{/deletePerson/{id}(id=${person.getId()})}" method="post">
                    <input type="submit" value="delete"/></form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>